.post-card {
  /* height: 1000px; */
  margin-bottom: 25px; 
}

.post-image {
  /* width: 300px;  */
  height: 300px; /* Задайте желаемую высоту */
  object-fit: cover; /* Задайте способ заполнения контейнера изображением */
}

.post-date {
  margin-top: 20px;
  font-weight: 700;
  float: right;
}